<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Add Invoice">
  <ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
<div class="alert alert-danger {{showError==true?'':'ng-hide'}}" style="width:100%;position: absolute; z-index: 100; top: 35px;">
  {{errorMessage}}
</div>
      <div class="bar bar-subheader">
        <h2 class="title">
          <div >
            <onezone-datepicker datepicker-object="onezoneDatepicker3" >

              <div class="positive show-onezone-datepicker row">
              <button class="button button-icon icon ion-ios-calendar-outline show-onezone-datepicker col-40 positive" ></button>
              <span class="col-40">        {{onezoneDatepicker3.date | date:'dd MMMM yyyy'}}</span>
              </div>
              </onezone-datepicker>

          </div>

        </h2>
      </div>
  <ion-content class="padding">
    <br><br>
        <onezone-datepicker datepicker-object="onezoneDatepicker3">
        </onezone-datepicker>
  <div class="row">
    <div class="col-xs-10">
        <button class="button button-icon icon ion-checkmark-circled positive text-center" ng-click="addPayment(Newtr)"></button>
      </div>
      <div class="col-xs-2 {{billId!=null?'':'ng-hide'}}">
          <button class="button button-icon icon ion-close-circled assertive text-center" ng-click="deletePayment(Newtr)"></button>
        </div>

</div>
 <div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Description" ng-model=bill.desc>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Place of bill" ng-model=bill.place>
  </label>

</div>

<div class="list">
<ion-list>
  <ion-checkbox ng-model="choice.payer">Equal share for Payers?</ion-checkbox>
  <ion-checkbox ng-model="choice.partner">Equal share for Partners?</ion-checkbox>
</ion-list>
 <label class="item item-input {{choice.payer==true||bill.totalAmount!=0?'':'ng-hide'}}">
<span class="input-label ">Total Amount</span>
   <input type="number"  ng-model="bill.totalAmount" >

 </label>

 </div>
 <div class="list item">

     <a class="button button-icon icon ion-plus-circled positive"  ng-click="selectPayers()">   &nbsp;&nbsp;&nbsp;Add Payer/Partner</a>

</div>
 <div class="card {{payersList.length==0?'ng-hide':''}}">
 <label class="item item-divider">Payers
 </label>
 <label class="item item-input {{payersList.length!=0?'':'ng-hide'}}" ng-repeat='payer in payersList'>
<span class="input-label ">{{payer.name}}</span>
   <input type="number"  ng-model="payer.amount" ng-change="{{getTotalAmount(payersList)}}">

 </label>

</div>
<div class="card {{partnersList.length==0?'ng-hide':''}}">
<label class="item item-divider">Partners
</label>
<label class="item item-input" ng-repeat='itm in partnersList'>
  <span class="input-label ">{{itm.name}}</span>
     <input type="number"  ng-model="itm.amount">
</label>
</div>


 <div class="list" ng-show="phoneContacts">
   <div class="card" ng-repeat="contact in phoneContacts.phoneContacts">
     <div class="item item-divider">
       {{ contact.name.formatted }}
     </div>
     <div class="item item-text-wrap">
       <p><strong>Phone(s)</strong></p>
       <div ng-repeat="number in contact.phoneNumbers">
         <p>{{ number.value }}</p>
       </div>
       <p><strong>Email(s)</strong></p>
       <div ng-repeat="email in contact.emails">
         <p>{{ email.value }}</p>
       </div>
     </div>
   </div>
 </div>

  </ion-content>
</ion-view>
