
      <ion-view view-title="Register" class="bar-positive">
        <ion-nav-bar class="bar-positive">
        <ion-nav-back-button></ion-nav-back-button>

      </ion-nav-buttons>
      </ion-nav-bar>
        <ion-content>
          <div class="list">
            <label class="item item-input {{hideClass}}">
              {{message}}
            </label>
            <div class="item item-input">
            <form name="register" novalidate>
            <label class="item item-input">
              <span class="input-label">name</span>
              <input type="text" ng-model="user.name" required>
            </label>
            <label class="item item-input">
              <span class="input-label">mobile</span>
              <input type="number" ng-model="user.mob" required >
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="user.password" required>
            </label>
            <label class="item item-input {{hideClass}}">
              <span class="input-label">OTP</span>
              <input type="password" ng-model="user.otp" required>
            </label>

          </div>
          <div class="padding">
            <div class="button-bar">
              <button class="button icon-left ion-log-in button-positive button-outline" ng-click="logInUser(user)" >
                SignIn
              </button>

            <button class="button icon-left  ion-person-add  button-positive button-outline" ng-click="signIn(user)" >
              Register
            </button>
          </div>
          <button class="button button-block {{hideClass}} button-positive" ng-click="goToHome()" >
              Verify Later
            </button>
            <p class="text-center">
            </p>
          </div>
        </form>
      </div>
        <div class="card {{hideClass}} ">
          <div class="item item-text-wrap assertive">
            App won't be able  to sync any data with other users, unless user is verified!!
          </div>
        </div>

        </ion-content>
      </ion-view>
