
<ion-view view-title="Today's Transactions">
  <ion-content class="padding">


  <div class="list card" ng-repeat="todo in todos">
<!--
	<div class="item item-divider"><input type="checkbox" ng-model="todo.did" />  {{todo.name}}</div>


	<label>Acivity:</label><input class="form-control" type="text" ng-model="todo.desc">
	<label>Amount:</label><input class="form-control" type="text" ng-model="todo.amount">
-->
	<ion-checkbox ng-model="todo.did">{{todo.name}}</ion-checkbox>

<label class="item item-input">
    <input type="text" placeholder="Description" ng-model="todo.desc">
  </label>
  <label class="item item-input">
    <input type="number" placeholder="Amount" ng-model="todo.amount">
  </label>
  </div>

    <div class="list card" ng-repeat="todo in addN">
  <!--
  	<div class="item item-divider"><input type="checkbox" ng-model="todo.did" />  {{todo.name}}</div>


  	<label>Acivity:</label><input class="form-control" type="text" ng-model="todo.desc">
  	<label>Amount:</label><input class="form-control" type="text" ng-model="todo.amount">
  -->
  	<ion-checkbox ng-model="todo.did">
      Default
</ion-checkbox>
<label class="item item-input">
    <input type="text" placeholder="Name" ng-model="todo.name">
  </label>
  <label class="item item-input">
      <input type="text" placeholder="Description" ng-model="todo.desc">
    </label>
    <label class="item item-input">
      <input type="number" placeholder="Amount" ng-model="todo.amount">
    </label>
    </div>
  <button class="button button-small  button-assertive" ng-click="todos.addNew()">
    Other expense
  </button>
  <button class="button button-block button-balanced" ng-click="todos.save()">
    Save
  </button>

  </ion-content>
</ion-view>
