<ion-view>
  <ion-nav-bar class="bar-positive">
  <ion-nav-back-button></ion-nav-back-button>

</ion-nav-bar>

  <ion-nav-buttons side="left">
    <button class="button button-outline" style="color:white;" ng-click="showLevel()">
      {{level}}
    </button>

 <button class="button ion-pie-graph button-positive icon-right" ng-click="show()">

 </button>

</ion-nav-buttons>
<div class="bar bar-subheader">
  <h2 class="title">
    <div class="row"><div class="col-40">
      <onezone-datepicker datepicker-object="onezoneDatepicker1" >

        <div class="positive show-onezone-datepicker">
        <i class="icon ion-ios-calendar-outline show-onezone-datepicker"></i>
              {{onezoneDatepicker1.date | date:'dd MMM'}}
            </div>
        </onezone-datepicker>
        </div>
        <div class="col-20 positive">To</div>
        <div class="col-40">
        <onezone-datepicker datepicker-object="onezoneDatepicker2">
          <div class="positive show-onezone-datepicker">
          <i class="icon ion-ios-calendar-outline show-onezone-datepicker"></i>
             {{onezoneDatepicker2.date | date:'dd MMM'}}
          </div>
      </onezone-datepicker>
      </div>
    </div>

  </h2>

</div>

  <ion-content class="has-header">
    <div class="card">
      <br>
        <onezone-datepicker datepicker-object="onezoneDatepicker1">
        </onezone-datepicker>
        <onezone-datepicker datepicker-object="onezoneDatepicker2">
        </onezone-datepicker>

</div>
<div class="card" style="box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);">

  <onezone-datepicker datepicker-object="onezoneDatepicker5">
    <div class=" positive ">
    &nbsp;&nbsp;&nbsp;&nbsp;View by month:   <label class="show-onezone-datepicker " style="float:right">{{onezoneDatepicker5.date | date:'MMMM'}}
<i class="icon ion-navicon-round "></i>   &nbsp;&nbsp;&nbsp;</label> </div>
</onezone-datepicker>
</div>
    <div class="{{level1Hide}}" >

    <ion-list>

      <div class="" style="z-index:-4">
        <div class="{{hideTotals}}" >
      <div class="bar bar-calm"  style="position: inherit;height:44px; width:100%;">
              <h1 class="title" >Totel Expenses</h1>
      </div>

          <table class="table table-condensed">
            <thead >
              <tr class="positive">

                  <th>Expense</th>
                  <th>Total</th>
                  <th>#Repeat</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="itm in status.items track by $index" class="royal">
                <td  >{{itm}}</td>
                <td >{{status.mStatus[itm]}}</td>
                <td >{{status.fr[itm]}}</td>

              </tr>
              <tr class="calm">
                <td >Total</td>
                <td >{{status.total}}</td>
                <td ></td>

              </tr>

            </tbody>
          </table>

        </div>
        <div class="{{hideTotals}}" >
      <div class="bar bar-calm"  style="position: inherit;height:44px; width:100%;">
              <h1 class="title" >Totel Income</h1>
      </div>

          <table class="table table-condensed">
            <thead >
              <tr class="positive">

                  <th>Income</th>
                  <th>Total</th>
                  <th>#Repeat</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="itm in status.itemsI track by $index" class="royal" >
                <td  >{{itm}}</td>
                <td >{{status.mStatusI[itm]}}</td>
                <td >{{status.frI[itm]}}</td>

              </tr>
              <tr class="calm">
                <td >Total</td>
                <td >{{status.totalI}}</td>
                <td ></td>


        </tr>
      </tbody>
    </table>
        </div>

        <div class="item item-divider {{hideChart}}">
          Expense
          <!-- <div id="chartContainer" style="height: {{height}}; width: {{width}};"></div> -->
          <canvas id="chartContainer" width="400" height="400"></canvas>
        </div>

        <div class="item item-divider {{hideHistogram}}">
Histogram

        </div>


        </div>
    </ion-list>
  </div>

  </ion-content>
</ion-view>
