<ion-view view-title="Statistics">
  <ion-content>
    <ion-list>

      <div class="list card" >
        <div class="item item-divider">
          Expenses

        </div>
        <div class="item item-divider">Totals</div>
        <div class="item">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th ng-repeat="itm in items track by $index">{{itm}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ng-repeat="itm in items track by $index">{{mStatus[itm]}}</td>

              </tr>

            </tbody>
          </table>

        </div>
        <div class="item item-divider">
          Others
        </div>


        </div>


<!--
      <div class="well" style="background-color:#66b2ff;color:white">Todays Status   <span style="width:20px;background-color:#0064cc;height:10px">{{todos.date.getDate()}}</span>   <span style="width:20px;background-color:#0064cc;height:10px">{{todos.getM}}</span></div>
      <div class="panel-group">
        <div class="panel panel-primary">
      	<div class="panel-heading">{{todos.getM}} Status</div>
          <div class="panel-body">
          <table class="table table-condensed">
            <thead>
              <tr>
                <th ng-repeat="itm in items track by $index">{{itm}}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td ng-repeat="itm in items track by $index">{{mStatus[itm]}}</td>

              </tr>

            </tbody>
          </table>


      	</div>
        </div>
-->
    </ion-list>
  </ion-content>
</ion-view>
