

<ion-view view-title="">
  <ion-nav-bar class="bar-positive">
  <ion-nav-back-button></ion-nav-back-button>

  <ion-nav-buttons side="left">
  <button menu-toggle = "left" class = "button button-icon icon ion-navicon" ng-click = "toggleLeft()"></button>


</ion-nav-buttons>
</ion-nav-bar>
<div class="bar bar-subheader">
  <h2 class="title">
    <div >
      <onezone-datepicker datepicker-object="onezoneDatepicker" >

        <div class="positive show-onezone-datepicker row">
        <button class="button button-icon icon ion-ios-calendar-outline show-onezone-datepicker col-40 positive" ></button>
        <span class="col-40">        {{onezoneDatepicker.date | date:'dd MMMM yyyy'}}</span>
        </div>
        </onezone-datepicker>

    </div>

  </h2>
</div>

<ion-side-menus  style="margin-top:44px">
  <!-- Left menu -->
  <ion-side-menu side="left"  style="margin-top:44px">
<div class="list">

  <a class="item item-icon-left" href="#/tab/add-event">
  <i class="icon ion-person"></i>
    {{user.name}} <br>{{user.mob}}
  </a>
  <a class="item item-icon-left" href="#/tab/user-list">
    <i class="icon ion-person-stalker"></i>
    Contacts

  </a>

  <a class="item item-icon-left" href="#tab/simple-lending">
    <i class="icon ion-social-usd"></i>
    Add a Transaction

  </a>
  <a class="item item-icon-left" href="#tab/backup">
    <i class="icon ion-archive"></i>
    Data backup

  </a>

</div>

  </ion-side-menu>
  <ion-side-menu-content >
    <ion-content >



    <onezone-datepicker datepicker-object="onezoneDatepicker">
    </onezone-datepicker>


    <div class="list card {{todos.addN==null?'ng-hide':''}}">
    <label class="item item-input">
    <input type="text" placeholder="Name" ng-model="todos.addN.name">
  </label>
  <label class="item item-input item-select">
      <div class="input-label">
        Type
      </div>
      <select ng-model="inputType.type">
        <option >Income</option>
        <option selected >Expense</option>
      </select>
    </label>
  <label class="item item-input">
      <input type="number" placeholder="Amount" ng-model="todos.addN.amount">
    </label>
    <br>
  <button type="button" class="btn btn-primary btn-xs" ng-click="saveThisNew(todos.addN)">save</button>
  <button type="button" class="btn btn-primary btn-xs" ng-click="cancelThisNew()">cancel</button>
    </div>
    <div >
    <!-- daily inputs Reminders-->
<div class="{{(incomeList.length==0)&&(todos.today.length==0)?'ng-hide':''}}">

    <div class="bar bar-calm "  style="position: inherit;height:44px; width:100%;">
              <h1 class="title" >  Reminders</h1>
    </div>
<table class="table table-condensed ">

  <thead >

    <tr class="positive">

        <th style="width:25%">Name</th>
        <th style="width:25%">Type</th>
        <th style="width:25%">Amount</th>
        <th style="width:25%">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="itm in incomeList track by $index"   class="royal {{incomeList.show}}">
      <td  >{{itm.name}}</td>
      <td ><span class="primary">Income<span></td>
      <td ><input style="width:75%" type="number"  placeholder="Amount" ng-model="itm.amount" /></td>
      <td ><button class="button button-small button-positive " ng-click="saveTodayIncome(itm)" style="padding-top:0px;padding-bottom:0px;margin:0px;float:right">
      save
      </button></td>
    </tr>
    <tr ng-repeat="itm in todos.today track by $index"  class="royal {{showListE}}">
      <td  >{{itm.name}}</td>
      <td ><span class="primary">Expense<span></td>
        <td ><input style="width:75%"  type="number"  placeholder="Amount" ng-model="itm.amount" /></td>
        <td ><button class="button button-small button-positive" ng-click="saveThis(itm)" style="padding-top:0px;padding-bottom:0px;margin:0px;float:right">
          save
        </button>
</td>
    </tr>

  </tbody>
</table>

</div>

<br>
<div class="{{((todos.savedIncome==null||todos.savedIncome.length==0)&&(todos.savedExpense==null||todos.savedExpense.length==0))?'ng-hide':''}}">
  <div class="bar bar-balanced"  style="position: inherit;height:44px; width:100%;">
            <h1 class="title" >  Saved Records</h1>
  </div>

  <table class="table table-condensed ">

    <thead >

      <tr class="positive">

          <th>Name</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="itm in resultValue=(todos.savedExpense) track by $index" class="royal">
        <td  >{{itm.name}}</td>
        <td ><span class="primary">Expense<span></td>
        <td >{{itm.amount}}</td>
        <td ng-click="update(itm,'Expense')">
          <i class=" icon ion-edit" style="width:70%" ></i>
        </td>
        <td ng-click="delete(itm,'Expense',$index)">
            <i class=" icon ion-ios-trash-outline" ></i>

        </td>
      </tr>
      <tr class="calm info {{todos.savedExpense==null||todos.savedExpense.length==0?'ng-hide':''}}" >
        <td  >Total</td>
        <td >Expense</td>
        <td >{{resultValue | sumOfValue:'amount'}}</td><td></td><td></td><td></td>
      </tr>
      <tr ng-repeat="itm in totalIncome=(todos.savedIncome) track by $index" ng-click="update(itm,'Income')" class="royal">
        <td  >{{itm.name}}</td>
        <td ><span class="primary">Income<span></td>
        <td >{{itm.amount}}</td>
        <td ng-click="update(itm,'Income')">
          <i class=" icon ion-edit" style="width:70%" ></i>
        </td>

        <td ng-click="delete(itm,'Income',$index)">
          <i class=" icon ion-ios-trash-outline" ></i>

        </td>

      </tr>
      <tr class="calm info {{todos.savedIncome==null||todos.savedIncome.length==0?'ng-hide':''}}">
        <td  >Total</td>
        <td >Income</td>
        <td >{{totalIncome | sumOfValue:'amount'}}</td><td></td><td></td><td></td>
      </tr>

    </tbody>
  </table>
  <div colspan='3' class="col-lg-8 text-right">

</div>
</div>

  </ion-content>
</ion-side-menu-content>

</ion-side-menus>


</ion-view>
