
<ion-view view-title="Connections">
  <ion-nav-bar class="bar-positive">
  <ion-nav-back-button>
  </ion-nav-back-button>
</ion-nav-bar>
  <ion-content class="padding">
    <button class="button button-full button-positive" ng-click="refreshContacts()">
Refresh
    </button>

<div class="list {{addContactFlag}}" >
</div>
<label class="item item-input" ng-show={{contacts.contacts.length}}>
  <input type="text" placeholder="Search" ng-model="searchKey">
</label>
 <ion-list>
  <ion-item ng-repeat="contact in phoneContacts.contacts | filter:searchKey">
    <b>{{contact.name}}</b>

    <br> {{contact.mob}}



  </ion-item>
</ion-list>
  </ion-content>
</ion-view>
