<html>

   <head>
      <title>Angular JS Controller</title>
      <script src = "./lib/angular/angular.min.js"></script>
	  <script src = "./js/myController.js"></script>
	  <script src = "./js/mainApp.js"></script>
	  <script src = "./lib/angular/angular-route.min.js"></script>
	  <link rel="stylesheet" href="./lib/bootstrap/css/bootstrap.min.css">
  <script src="./lib/bootstrap/js/jquery.min.js"></script>
  <script src="./lib/pounchDB/pouchdb-5.2.0.min.js"></script>
  <script src="./lib/bootstrap/js/bootstrap.min.js"></script>

   </head>

   <body>


      <div ng-app = "mainApp" ng-controller = "appController">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">



    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">pAccounting</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        <li>
          <a href="#activeTodo">Active todo</a>
        </li>
        <li><a href="#status">Status</a></li>
        <li><a href="#config">Config</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- App Templets-->

<!-- For active todos-->

<div ng-view>
  <script type = "text/ng-template" id = "activeTodo.htm">
<div class="well" style="background-color:#66b2ff;color:white">Todays E. Logs   <span style="width:20px;background-color:#0064cc;height:10px">{{todos.date.getDate()}}</span>   <span style="width:20px;background-color:#0064cc;height:10px">{{todos.getM}}</span></div>
<div class="panel-group">

  <div class="panel panel-primary" ng-repeat="todo in todos">

	<div class="panel-heading"><input type="checkbox" ng-model="todo.did" />  {{todo.name}}</div>
    <div class="panel-body">

	<label>Acivity:</label><input class="form-control" type="text" ng-model="todo.desc">
	<label>Amount:</label><input class="form-control" type="text" ng-model="todo.amount">

	</div>
  </div>
  <br><center>

  <button type="button" class="btn btn-primary" ng-click="todos.save()">Save</button>
  <button type="button" class="btn btn-primary" ng-click="todos.getData()">get</button>
</center>
  </div>
</script>








<!-- View for status -->
<script type = "text/ng-template" id = "status.htm">
<div class="well" style="background-color:#66b2ff;color:white">Todays Status   <span style="width:20px;background-color:#0064cc;height:10px">{{todos.date.getDate()}}</span>   <span style="width:20px;background-color:#0064cc;height:10px">{{todos.getM}}</span></div>
<div class="panel-group">
  <div class="panel panel-primary">
	<div class="panel-heading">{{todos.getM}} Status</div>
    <div class="panel-body">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th ng-repeat="itm in items track by $index">{{itm}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td ng-repeat="itm in items track by $index">{{mStatus[itm]}}</td>

        </tr>

      </tbody>
    </table>


	</div>
  </div>



</script>





</div>



      </div>
</div>
   </body>
</html>
